asgiref==3.12.1
cbor2==6.1.4
certifi==2026.7.22
cffi==2.1.1
charset-normalizer==3.5.1
cryptography==50.0.1
Django==5.2.17
django-axes==8.3.1
django-oauth-toolkit==3.4.1
django-unfold==0.104.1
et_xmlfile==2.0.0
gunicorn==26.0.0
idna==3.20
iniconfig==2.3.0
jwcrypto==1.6.1
oauthlib==4.0.0
openpyxl==3.1.5
packaging==26.3
pluggy==1.6.0
pyasn1==0.6.4
pyasn1_modules==0.4.2
pycparser==3.0
Pygments==2.21.0
pyOpenSSL==26.4.0
pytest==9.1.1
pytest-django==4.12.0
requests==2.34.2
sqlparse==0.6.0
typing_extensions==4.16.0
urllib3==2.8.0
webauthn==3.0.0
whitenoise==6.12.0
